#seconnceter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Arrière-plan clair */

  }

  form {
    background-color: #ffffff; /* Fond du formulaire blanc */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    max-width: 400px;
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease; /* Transition pour le hover */
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #4CAF50; /* Couleur de la bordure lors du focus */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Lueur verte */
    outline: none; /* Supprimer la bordure par défaut */
  }
  
  input[type="email"]::placeholder,
  input[type="password"]::placeholder {
    color: #999;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50; /* Bouton vert */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition pour le hover */
  }
  
  input[type="submit"]:hover {
    background-color: #45a049; /* Couleur lors du hover */
  }
  
  #btc[disabled] {
    background-color: #ccc; /* Désactiver bouton gris */
    cursor: not-allowed;
  }
  
  /* Animation hover des champs de texte */
  input[type="email"]:hover,
  input[type="password"]:hover {
    border-color: #4CAF50;
  }
  
  input[type="email"]:hover::placeholder,
  input[type="password"]:hover::placeholder {
    color: #555;
  }
  
  /* Toastification */
  .Toastify__toast--success {
    background-color: #4CAF50; /* Toast de succès en vert */
  }
  
  .Toastify__toast--error {
    background-color: #f44336; /* Toast d'erreur en rouge */
  }
  
  @media (max-width: 500px) {
    form {
      padding: 20px;
    }
  }
  